[submodule "themes/emacs-color-theme-solarized"]
	path = themes/emacs-color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git@github.com:jrblevin/markdown-mode.git
	branch = stable
[submodule "site-lisp/rust-mode"]
	path = site-lisp/rust-mode
	url = git@github.com:rust-lang/rust-mode.git
[submodule "site-lisp/xcscope"]
	path = site-lisp/xcscope
	url = https://github.com/dkogan/xcscope.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
